@import url(/start.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    list-style: none;
}

form {
    background-color: whitesmoke;
    height: 81vh;
    width: 100%;
    padding: 35px 0 0 0;
    text-align: center;
}

.form-header {
    font-size: 30px;
    color: blue;
    font-weight: 500;
    font-variant: small-caps;
}

.form {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0 0 0 ;
}

.form-content {
    display: inline-block;
    width: 25%;
    line-height: 40px;
    margin: 0 auto;
    border: 1px solid black;
    padding: 15px 50px;
}

.fields input {
    padding: 5px 10px;
    font-size: 16px;
    width: 100%;
}

.btn button {
    padding: 5px 10px;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #ffe54c;
}

.btn button:hover {
    text-decoration: underline;
    cursor: pointer;
}
